
body,html {
  padding: 0;
  margin: 0;
}

.icons{
  color: gray; 
  position: relative;
  transition: all .2s ease-in-out; 
  margin: 25px;
}

.icons:hover{
  transform: scale(1.5);
}

li {
  list-style-type: none; 
  display: inline-block;
  margin: 15px;
}

.nav-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.name{
  padding: 10px;
}