@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nixie+One|Playfair+Display+SC|Questrial|Quicksand|Work+Sans');


body,html {
  padding: 0;
  margin: 0;
  background-image: URL("./image/background.jpg");
  font-family: 'Nixie One', cursive;

}

.icons{
  color: rgb(85, 78, 78); 
  position: relative;
  transition: all .2s ease-in-out; 
  margin: 35px;
}

.icons:hover{
  transform: scale(1.5);
}

li {
  list-style-type: none; 
  display: inline-block;
  margin: 15px;
}

a {
 text-decoration: none;
 color: black;
}

.nav-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.name{
  font-size: 5em;
  letter-spacing: 10px;
  color: rgb(56, 50, 50);
}


.wrapper {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: 100px 450px 450px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.header {
  grid-row: 1/1;
  grid-column: 1 / 4;
  padding: 20px;
  background-color: whitesmoke;
  opacity: .7;
}

.footer {
  grid-row: 4/4;
  grid-column: 1 / 4;
  padding: 20px;
  background-color: whitesmoke;
  opacity: .7;
}

.panel{
  height: 100%;
  width: 100%;
}

.a {
  grid-row: 2/2;
  grid-column: 1 / 2;
  margin: 10px;
}

.b{
  grid-row: 2/2;
  grid-column: 2 / 3;
  margin: 10px;

}

.c{
  grid-row: 2/2;
  grid-column: 3 / 3;
  margin: 10px;
}

.d{
  grid-row: 3/3;
  grid-column: 1 /2;
  margin: 10px;
}

.e{
  grid-row: 3/3;
  grid-column: 2 /3;
  margin: 10px;
}

 img{
  height: 400px;
  width:500px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
}

.back{
  height: 400px;
  width: 500px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  background-color: rgb(233, 211, 204);
  opacity: .7;
  line-height: 2;
  font-family: Comfortaa !important;
}

p {
  padding: 10px;
  margin: 2px;
}

.flip-button{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 1%;
  font-family: Comfortaa !important;
  
}

.card-link{
  text-decoration: underline;
}